<!DOCTYPE html>
<html lang="zxx">

<head>
    <title>Talkbot | AI Customer Support Chatbot HTML Website Template</title>
    <link rel="shortcut icon" type="image/jpg" href="assets/images/favicon.jpg">
    <meta charset="UTF-8">
    <meta name="description" content="HTML Templates">
    <meta name="keywords" content="Customer support, Chat, Bot, Chatbot, Communication, Help, Support, AI, AI Website, Website, HTML, Responsive">
    <meta name="author" content="Pentabay">
    <meta name="viewport" content="width=device-width">
    <!-- Icon link -->
    <link rel="stylesheet" href="static/css/icon.css">
    <link rel="stylesheet" href="static/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer">
    <link rel="stylesheet" href="static/css/font-awesome.min.css">
    <!-- Style link -->
    <link rel="stylesheet" href="static/css/bootstrap.min.css">
    <link rel="stylesheet" href="static/css/owl.carousel.css">
    <!-- slick slider -->
    <link rel="stylesheet" href="static/css/slick-theme.min.css">
    <link rel="stylesheet" href="static/css/slick.min.css">
    <link href="static/css/aos.css" rel="stylesheet">
    <!-- Stylesheet -->
    <link rel="stylesheet" href="static/css/styles.css">
    <link rel="stylesheet" href="static/css/responsive.css">
</head>

<body>

    <button onclick="topFunction()" id="backTop" title="Go to top"><i class="fa fa-arrow-up"></i></button>

    <!--header-->
    <header>
        <nav id="navbar_top" class="navbar navbar-expand-lg navbar-dark">
            <div class="container">
                <a class="navbar-brand" href="">
                    <img class="img-fluid" src="static/picture/logo.png" alt="img">
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#main_nav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="fa fa-bars"></span>
                </button>
                <div class="collapse navbar-collapse" id="main_nav">
                    <ul class="navbar-nav me-auto ms-auto">
                        <li class="nav-item">
                            <a class="nav-link" href="about-us.html"> About </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="platform.html"> Platform </a>
                        </li>

                        <li class="nav-item dropdown">
                            <a class="nav-link" href="#" data-bs-toggle="dropdown"> Pages </a>
                            <ul class="dropdown-menu animate slideIn">
                                <li><a class="dropdown-item" href="our-team.html"> Our Team</a></li>
                                <li><a class="dropdown-item" href="error.html"> 404 Error </a></li>
                                <li><a class="dropdown-item" href="faq.html"> FAQ'S </a></li>
                                <li><a class="dropdown-item" href="coming-soon.html"> Coming Soon </a></li>
                                <li><a class="dropdown-item" href="terms-and-conditions.html"> Terms and
                                        Conditions </a></li>
                                <li><a class="dropdown-item" href="privacy-policy.html"> Privacy Policy </a></li>
                            </ul>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="pricing.html"> Pricing </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="blog.html"> Blog </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="contact-us.html"> Contact </a>
                        </li>
                    </ul>
                    <div class="header-btns ms-5">
                        <a class="theme-btn btn-no-design" href="sign-in.html">Login</a>
                        <a class="theme-btn btn-main" href="sign-up.html">Create Account</a>
                    </div>
                </div> <!-- navbar-collapse.// -->
            </div> <!-- container-fluid.// -->
        </nav>
    </header>

    <!-- content -->
    <div class="main-content-wrapper">
        <!-- main banner -->
        <div class="main-banner-container">
            <div class="container h-100">
                <div class="row align-items-center justify-content-center h-100">
                    <div class="col-12 col-md-10 col-lg-8 h-100">
                        <div class="main-banner-wrapper" data-aos="fade-up" data-aos-duration="3000">
                            <h1 class="main-banner-heading">Conversational AI Solutions Infinite Possibilities</h1>
                            <h4 class="main-banner-description">Automate your Instagram, Webchat, and Facebook Messaging
                                for more leads, more sales, and better customer experience</h4>

                            <div class="banner-form">
                                <form>
                                    <div class="banner-form-wrapper">
                                        <input class="banner-input" type="email" id="txtcontact" placeholder="Enter your business email...">
                                        
                                            <div class="error-msg-contact" id="error">
                                                <p>Invalid email address</p>
                                            </div>

                                        <button class="banner-sign-btn" type="button" id="demoContact">Sign up free</button>

                                        <div class="success-msg-contact" id="success">
                                            <p><span class="check-success-icon"><i class="fa fa-check"></i></span>Signup Success!</p>
                                        </div>
                                    </div>
                                </form>
                            </div>

                            <ul class="banner-feature-list">
                                <li>
                                    <i class="fa fa-check-circle"></i>
                                    <p>Free 14-day trial</p>
                                </li>
                                <li>
                                    <i class="fa fa-check-circle"></i>
                                    <p>No credit card required</p>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- we help -->
        <div class="section we-help">
            <div class="container">
                <div class="row align-items-center justify-content-center">
                    <div class="col-12 col-md-10 col-lg-10">
                        <div class="section-heading-wrapper">
                            <h2 class="section-heading">Simply it helps to engage with customers
                                & grow business so fastly</h2>
                        </div>
                    </div>
                </div>
                <div class="row justify-content-center" data-aos="fade-up" data-aos-duration="3000">
                    <div class="col-12 col-md-6 col-lg-4 mb-4">
                        <div class="wehelp-card">
                            <div class="wehelp-image">
                                <img class="img-fluid" src="static/picture/wehelp-1.webp" alt="img">
                            </div>
                            <div class="wehelp-content">
                                <h3>Power up your marketing strategy</h3>
                                <ul>
                                    <li>Personalize your customer experience </li>
                                    <li>Engage prospects and customers across multiple communication channels.</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-6 col-lg-4 mb-4">
                        <div class="wehelp-card">
                            <div class="wehelp-image">
                                <img class="img-fluid" src="static/picture/wehelp-2.webp" alt="img">
                            </div>
                            <div class="wehelp-content">
                                <h3>Supercharge your customer sales</h3>
                                <ul>
                                    <li>Scale your efforts increasing employee headcount.</li>
                                    <li>Generate and quality leads automatically.</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-6 col-lg-4 mb-4">
                        <div class="wehelp-card">
                            <div class="wehelp-image">
                                <img class="img-fluid" src="static/picture/wehelp-3.png" alt="img">
                            </div>
                            <div class="wehelp-content">
                                <h3>Optimize your customer service & support</h3>
                                <ul>
                                    <li>Keep your customer support and going after hours.</li>
                                    <li>Improve resolution times.</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- solutions -->
        <div class="section solutions">
            <div class="container">
                <div class="row">
                    <div class="col-12 col-md-6 col-lg-6 mb-4">
                        <div class="section-image-wrapper" data-aos="fade-right" data-aos-duration="3000">
                            <img class="img-fluid" src="static/picture/solution-1.png" alt="img">
                        </div>
                    </div>
                    <div class="col-12 col-md-6 col-lg-6 mb-4">
                        <div class="section-content-wrapper" data-aos="fade-left" data-aos-duration="3000">
                            <h3 class="section-heading text-start">Humanize the experience</h3>
                            <p class="section-description">With multiple artificial intelligence technologies, aichat
                                semantic engine is the answerfor customer service today:
                                multiple languages, emojis, voice messages, autocorrect
                                and much more.</p>
                            <a class="theme-btn btn-border" href="#">Learn More</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="section solutions pt-0">
            <div class="container">
                <div class="row">
                    <div class="col-12 col-md-6 col-lg-6 mb-4">
                        <div class="section-content-wrapper" data-aos="fade-right" data-aos-duration="3000">
                            <h3 class="section-heading text-start">Solution designed for your
                                company.</h3>
                            <p class="section-description">With multiple artificial intelligence technologies, aichat
                                semantic engine is the answer for customer service today:
                                multiple languages, emojis, voice messages, autocorrect
                                and much more.</p>
                            <a class="theme-btn btn-border" href="#">Learn More</a>
                        </div>
                    </div>
                    <div class="col-12 col-md-6 col-lg-6 mb-4">
                        <div class="section-image-wrapper" data-aos="fade-left" data-aos-duration="3000">
                            <img class="img-fluid" src="static/picture/solution-2.png" alt="img">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- templates -->
        <div class="section templates">
            <div class="container">
                <div class="row align-items-center justify-content-center">
                    <div class="col-12 col-md-8 col-lg-8">
                        <div class="section-heading-wrapper">
                            <h2 class="section-heading">Get started with templates</h2>
                            <p class="section-description text-center">Build your AI chatbots with ready-to-use
                                templates. Customize them to fit your business needs, and bring chatbots to life within
                                minutes. </p>
                        </div>
                    </div>
                </div>
                <div class="row mt-4" data-aos="fade-up" data-aos-duration="3000">
                    <div class="col-12 col-md-6 col-lg-3 mb-4">
                        <div class="templates-card">
                            <div class="templates-icon">
                                <img class="img-fluid" src="static/picture/chat-icon-1.png" alt="img">
                            </div>
                            <h4>Customer Service Template </h4>
                        </div>
                    </div>
                    <div class="col-12 col-md-6 col-lg-3 mb-4">
                        <div class="templates-card">
                            <div class="templates-icon">
                                <img class="img-fluid" src="static/picture/chat-icon-2.png" alt="img">
                            </div>
                            <h4>Customer Satisfaction Template </h4>
                        </div>
                    </div>
                    <div class="col-12 col-md-6 col-lg-3 mb-4">
                        <div class="templates-card">
                            <div class="templates-icon">
                                <img class="img-fluid" src="static/picture/chat-icon-3.png" alt="img">
                            </div>
                            <h4>Lead Generation Template </h4>
                        </div>
                    </div>
                    <div class="col-12 col-md-6 col-lg-3 mb-4">
                        <div class="templates-card">
                            <div class="templates-icon">
                                <img class="img-fluid" src="static/picture/chat-icon-4.png" alt="img">
                            </div>
                            <h4>Super Discount Template </h4>
                        </div>
                    </div>
                    <div class="col-12 col-md-6 col-lg-3 mb-4">
                        <div class="templates-card">
                            <div class="templates-icon">
                                <img class="img-fluid" src="static/picture/chat-icon-5.png" alt="img">
                            </div>
                            <h4>Live Chat Essentials Template</h4>
                        </div>
                    </div>
                    <div class="col-12 col-md-6 col-lg-3 mb-4">
                        <div class="templates-card">
                            <div class="templates-icon">
                                <img class="img-fluid" src="static/picture/chat-icon-3.png" alt="img">
                            </div>
                            <h4>Package Tracking Template</h4>
                        </div>
                    </div>
                    <div class="col-12 col-md-6 col-lg-3 mb-4">
                        <div class="templates-card">
                            <div class="templates-icon">
                                <img class="img-fluid" src="static/picture/chat-icon-1.png" alt="img">
                            </div>
                            <h4>Real Estate Template</h4>
                        </div>
                    </div>
                    <div class="col-12 col-md-6 col-lg-3 mb-4">
                        <div class="templates-card">
                            <div class="templates-icon">
                                <img class="img-fluid" src="static/picture/chat-icon-2.png" alt="img">
                            </div>
                            <h4>Covid-19 Assessment Template</h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- testimonial -->
        <div class="section testimonial">
            <div class="container">
                <div class="row align-items-center justify-content-center">
                    <div class="col-12 col-md-8 col-lg-8">
                        <div class="section-heading-wrapper">
                            <h2 class="section-heading">See how talkbot help others</h2>
                        </div>
                    </div>
                </div>
                <div class="row align-items-center justify-content-center">
                    <div class="col-12 col-md-9 col-lg-9">
                        <div class="carosel-root" data-aos="fade-up" data-aos-duration="3000">
                            <div class="carosel testi">
                                <div class="carosel-item">
                                    <div class="testimonial-card">
                                        <p>Lorem ipsum dolor sit amet, consectetur
                                            adipiscing elit, sed do eiusmod tempor
                                            incididunt ut labore et dolore magna aliqua Ut
                                            enim ad minim veniam, quis nostrud
                                            exercitation ullamco.</p>
                                        <div class="testimonial-author">
                                            <div class="test-author-image">
                                                <img class="img-fluid" src="static/picture/our-team-1.jpg" alt="img">
                                            </div>
                                            <div class="test-author-info">
                                                <h4>Geoffrey Mott</h4>
                                                <p>Software Develper</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="carosel-item">
                                    <div class="testimonial-card">
                                        <p>Lorem ipsum dolor sit amet, consectetur
                                            adipiscing elit, sed do eiusmod tempor
                                            incididunt ut labore et dolore magna aliqua Ut
                                            enim ad minim veniam, quis nostrud
                                            exercitation ullamco.</p>
                                        <div class="testimonial-author">
                                            <div class="test-author-image">
                                                <img class="img-fluid" src="static/picture/our-team-2.jpg" alt="img">
                                            </div>
                                            <div class="test-author-info">
                                                <h4>William Smith</h4>
                                                <p>Software Develper</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="carosel-item">
                                    <div class="testimonial-card">
                                        <p>Lorem ipsum dolor sit amet, consectetur
                                            adipiscing elit, sed do eiusmod tempor
                                            incididunt ut labore et dolore magna aliqua Ut
                                            enim ad minim veniam, quis nostrud
                                            exercitation ullamco.</p>
                                        <div class="testimonial-author">
                                            <div class="test-author-image">
                                                <img class="img-fluid" src="static/picture/our-team-3.jpg" alt="img">
                                            </div>
                                            <div class="test-author-info">
                                                <h4>Mary Joe</h4>
                                                <p>Software Develper</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- faq -->
        <div class="section testimonial">
            <div class="container">
                <div class="row align-items-center justify-content-center">
                    <div class="col-12 col-md-8 col-lg-8">
                        <div class="section-heading-wrapper">
                            <h2 class="section-heading">Frequently asked questions</h2>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 col-md-12 col-lg-12">
                        <div class="faq-accoedion-wrapper faq" data-aos="fade-right" data-aos-duration="3000">
                            <div class="accordion" id="accordionExample">
                                <div class="row">
                                    <div class="col-12 col-md-6 col-lg-6">
                                        <div class="accordion-item">
                                            <h2 class="accordion-header" id="h1">
                                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#c1" aria-expanded="false" aria-controls="c1">
                                                    Q. What is a chatbot?
                                                </button>
                                            </h2>
                                            <div id="c1" class="accordion-collapse collapse " aria-labelledby="h1" data-bs-parent="#accordionExample">
                                                <div class="accordion-body">
                                                    <p>A. Lorem ipsum dolor sit amet, consectetur
                                                        adipiscing elit, sed do eiusmod tempor
                                                        incididunt ut labore et dolore magna aliqua Ut
                                                        enim ad minim veniam, quis nostrud
                                                        exercitation ullamco.</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="accordion-item">
                                            <h2 class="accordion-header" id="h2">
                                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#c2" aria-expanded="false" aria-controls="c2">
                                                    Q. Talk chatbots new?    
                                                </button>
                                            </h2>
                                            <div id="c2" class="accordion-collapse collapse " aria-labelledby="h2" data-bs-parent="#accordionExample">
                                                <div class="accordion-body">
                                                    <p>A. Lorem ipsum dolor sit amet, consectetur
                                                        adipiscing elit, sed do eiusmod tempor
                                                        incididunt ut labore et dolore magna aliqua Ut
                                                        enim ad minim veniam, quis nostrud
                                                        exercitation ullamco.</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="accordion-item">
                                            <h2 class="accordion-header" id="h3">
                                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#c3" aria-expanded="false" aria-controls="c3">
                                                    Q. Who will be the chatbot users?
                                                </button>
                                            </h2>
                                            <div id="c3" class="accordion-collapse collapse " aria-labelledby="h3" data-bs-parent="#accordionExample">
                                                <div class="accordion-body">
                                                    <p>A. Lorem ipsum dolor sit amet, consectetur
                                                        adipiscing elit, sed do eiusmod tempor
                                                        incididunt ut labore et dolore magna aliqua Ut
                                                        enim ad minim veniam, quis nostrud
                                                        exercitation ullamco.</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="accordion-item">
                                            <h2 class="accordion-header" id="h4">
                                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#c4" aria-expanded="false" aria-controls="c4">
                                                    Q. What information sources will the chatbot use?
                                                </button>
                                            </h2>
                                            <div id="c4" class="accordion-collapse collapse " aria-labelledby="h4" data-bs-parent="#accordionExample">
                                                <div class="accordion-body">
                                                    <p>A. Lorem ipsum dolor sit amet, consectetur
                                                        adipiscing elit, sed do eiusmod tempor
                                                        incididunt ut labore et dolore magna aliqua Ut
                                                        enim ad minim veniam, quis nostrud
                                                        exercitation ullamco.</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="accordion-item">
                                            <h2 class="accordion-header" id="h5">
                                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#c5" aria-expanded="false" aria-controls="c5">
                                                    Q. How do talkbot chatbots help businesses?
                                                </button>
                                            </h2>
                                            <div id="c5" class="accordion-collapse collapse " aria-labelledby="h5" data-bs-parent="#accordionExample">
                                                <div class="accordion-body">
                                                    <p>A. Lorem ipsum dolor sit amet, consectetur
                                                        adipiscing elit, sed do eiusmod tempor
                                                        incididunt ut labore et dolore magna aliqua Ut
                                                        enim ad minim veniam, quis nostrud
                                                        exercitation ullamco.</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12 col-md-6 col-lg-6">
                                        <div class="accordion-item">
                                            <h2 class="accordion-header" id="h6">
                                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#c6" aria-expanded="false" aria-controls="c6">
                                                    Q. How long does the implementation of a chatbot take?
                                                </button>
                                            </h2>
                                            <div id="c6" class="accordion-collapse collapse " aria-labelledby="h6" data-bs-parent="#accordionExample">
                                                <div class="accordion-body">
                                                    <p>A. Lorem ipsum dolor sit amet, consectetur
                                                        adipiscing elit, sed do eiusmod tempor
                                                        incididunt ut labore et dolore magna aliqua Ut
                                                        enim ad minim veniam, quis nostrud
                                                        exercitation ullamco.</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="accordion-item">
                                            <h2 class="accordion-header" id="h7">
                                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#c7" aria-expanded="false" aria-controls="c7">
                                                    Q. What kinds of questions should the chatbot be able to answer?
                                                </button>
                                            </h2>
                                            <div id="c7" class="accordion-collapse collapse " aria-labelledby="h7" data-bs-parent="#accordionExample">
                                                <div class="accordion-body">
                                                    <p>A. Lorem ipsum dolor sit amet, consectetur
                                                        adipiscing elit, sed do eiusmod tempor
                                                        incididunt ut labore et dolore magna aliqua Ut
                                                        enim ad minim veniam, quis nostrud
                                                        exercitation ullamco.</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="accordion-item">
                                            <h2 class="accordion-header" id="h8">
                                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#c8" aria-expanded="false" aria-controls="c8">
                                                    Q. Are your chatbots multilingual?
                                                </button>
                                            </h2>
                                            <div id="c8" class="accordion-collapse collapse " aria-labelledby="h8" data-bs-parent="#accordionExample">
                                                <div class="accordion-body">
                                                    <p>A. Lorem ipsum dolor sit amet, consectetur
                                                        adipiscing elit, sed do eiusmod tempor
                                                        incididunt ut labore et dolore magna aliqua Ut
                                                        enim ad minim veniam, quis nostrud
                                                        exercitation ullamco.</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="accordion-item">
                                            <h2 class="accordion-header" id="h9">
                                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#c9" aria-expanded="false" aria-controls="c9">
                                                    Q. What channels do talkbot chatbots support?
                                                </button>
                                            </h2>
                                            <div id="c9" class="accordion-collapse collapse " aria-labelledby="h9" data-bs-parent="#accordionExample">
                                                <div class="accordion-body">
                                                    <p>A. Lorem ipsum dolor sit amet, consectetur
                                                        adipiscing elit, sed do eiusmod tempor
                                                        incididunt ut labore et dolore magna aliqua Ut
                                                        enim ad minim veniam, quis nostrud
                                                        exercitation ullamco.</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="accordion-item">
                                            <h2 class="accordion-header" id="h10">
                                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#c10" aria-expanded="false" aria-controls="c10">
                                                    Q. How easy is it to build my own chatbot?
                                                </button>
                                            </h2>
                                            <div id="c10" class="accordion-collapse collapse " aria-labelledby="h10" data-bs-parent="#accordionExample">
                                                <div class="accordion-body">
                                                    <p>A. Lorem ipsum dolor sit amet, consectetur
                                                        adipiscing elit, sed do eiusmod tempor
                                                        incididunt ut labore et dolore magna aliqua Ut
                                                        enim ad minim veniam, quis nostrud
                                                        exercitation ullamco.</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- companies -->
        <div class="section testimonial">
            <div class="container">
                <div class="row align-items-center justify-content-center">
                    <div class="col-12 col-md-8 col-lg-8">
                        <div class="section-heading-wrapper">
                            <h2 class="section-heading">Works with worldwide companies</h2>
                        </div>
                    </div>
                </div>
                <div class="row align-items-center justify-content-center" data-aos="fade-up" data-aos-duration="3000">
                    <div class="col-12 col-md-12 col-lg-12">
                        <div class="carosel-root">
                            <div class="carosel partner">
                                <div class="carosel-item">
                                    <div class="partner-card">
                                        <img class="img-fluid" src="static/picture/instagram.png" alt="img">
                                        <p>Instagram</p>
                                    </div>
                                </div>
                                <div class="carosel-item">
                                    <div class="partner-card">
                                        <img class="img-fluid" src="static/picture/facebook.png" alt="img">
                                        <p>Facebook</p>
                                    </div>
                                </div>
                                <div class="carosel-item">
                                    <div class="partner-card">
                                        <img class="img-fluid" src="static/picture/linkedin.png" alt="img">
                                        <p>Linkedin</p>
                                    </div>
                                </div>
                                <div class="carosel-item">
                                    <div class="partner-card">
                                        <img class="img-fluid" src="static/picture/slack.png" alt="img">
                                        <p>Slack</p>
                                    </div>
                                </div>
                                <div class="carosel-item">
                                    <div class="partner-card">
                                        <img class="img-fluid" src="static/picture/walmart.png" alt="img">
                                        <p>Walmart</p>
                                    </div>
                                </div>
                                <div class="carosel-item">
                                    <div class="partner-card">
                                        <img class="img-fluid" src="static/picture/discord.png" alt="img">
                                        <p>Discord</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- quote -->
        <div class="section quote pt-4">
            <div class="container">
                <div class="row">
                    <div class="col-12 col-md-12 col-lg-12">
                        <div class="quote-container">
                            <div class="quote-form-wrapper">
                                <h2 class="section-heading">Get a quick quote</h2>
                                <form>
                                    <div class="quote-form-group">
                                        <div class="position-relative mb-4">
                                            <input class="quote-form-input mb-0" id="txtcontact1" type="text" placeholder="Email Address">
                                            <div class="error-msg-contact" id="error1">
                                                <p>Invalid email address</p>
                                            </div>
                                        </div>
                                        <select class="quote-form-input">
                                            <option>Select your industry </option>
                                        </select>
                                        <button type="button" id="demoContact1" class="theme-btn btn-blue">Send Now</button>

                                        <div class="success-msg-contact" id="success1">
                                            <p><span class="check-success-icon"><i class="fa fa-check"></i></span>Message Sent Successfully!</p>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- footer -->
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-12 col-md-12 col-lg-12">
                    <div class="footer-logo">
                        <img class="img-fluid" src="static/picture/logo.png" alt="img">
                    </div>
                </div>
            </div>  
            <div class="row">
                <div class="col-12 col-md-6 col-lg-3 mb-4">
                    <div class="footer-about">
                        <h3 class="footer-heading">Get in touch</h3>
                        <ul class="footer-contact-list">
                            <li><a href="#">+123-456-7890</a></li>
                            <li><a href="#">Info@example.com</a></li>
                        </ul>
                        <ul class="footer-social-list">
                            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="#"><i class="fa-brands fa-x-twitter"></i></a></li>
                            <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-12 col-md-6 col-lg-2 mb-4">
                    <div class="footer-links">
                        <h3 class="footer-heading">Product</h3>
                        <ul class="footer-link-list">
                            <li><a href="#">Features</a></li>
                            <li><a href="#">Services</a></li>
                            <li><a href="#">Pricing</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-12 col-md-6 col-lg-3 mb-4">
                    <div class="footer-links">
                        <h3 class="footer-heading">Company</h3>
                        <ul class="footer-link-list">
                            <li><a href="#">About Us</a></li>
                            <li><a href="#">Career</a></li>
                            <li><a href="#">Testimonial</a></li>
                            <li><a href="#">FAQ’s</a></li>
                            <li><a href="#">Our Team</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-12 col-md-6 col-lg-2 mb-4">
                    <div class="footer-links">
                        <h3 class="footer-heading">Resources</h3>
                        <ul class="footer-link-list">
                            <li><a href="#">Blog</a></li>
                            <li><a href="#">Videos</a></li>
                            <li><a href="#">Sitemap</a></li>
                            <li><a href="#">Industries</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-12 col-md-6 col-lg-2 mb-4">
                    <div class="footer-language">
                        <h3 class="footer-heading">Language</h3>
                        <form class="footer-language-form">
                            <select>
                                <option>English</option>
                            </select>
                        </form>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12 col-md-12 col-lg-12">
                    <div class="footer-bottom">
                        <p>Copyright &copy; 2024.Company name All rights reserved.<a target="_blank" href="https://sc.chinaz.com/moban/">&#x7F51;&#x9875;&#x6A21;&#x677F;</a></p>
                    </div>
                </div>
            </div>
        </div>
    </footer>

    <!-- Script tag -->
    <script src="static/js/jquery-3.6.0.js"></script>
    <script src="static/js/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
    <script src="static/js/bootstrap.min.js"></script>
    <script src="static/js/owl.carousel.min.js"></script>
    <script src="static/js/slick.min.js"></script>
    <script src="static/js/aos.js"></script>
    <script src="static/js/main.js"></script>
	
</body>

</html>